body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar {
  height: 1200px;
  width: 20vw;
  position: fixed;
  top: 0;
  overflow-x: hidden;
}

.sidebar-left {
  background-color: #c98b05;
  color: white;
  left: 0;
}

.sidebar h2 {
  padding: 20px;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  background-color: #555;
}

.content {
  left: 30;
  position: absolute;
  padding: 20px;
  width: 100%;
  top: 0;
  background-color: rgb(83, 75, 75);
}

.gallery {
  margin-left: 22vw;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}
/* Estilo para o botão e o dropdown */
.dropdown {
  display: inline-block;
}

.dropdown-button {
  background-color: #4caf50;
  color: white;
  padding: 4px;
  border: none;
  cursor: pointer;
}

/* Esconde a caixa de seleção real */
.dropdown-checkbox {
  display: none;
}

/* Estilo para o dropdown quando a caixa de seleção está marcada */
.dropdown-checkbox:checked + .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
button,
.dropdown-button {
  box-shadow: 0 5px 0 #000000;
  position: relative;
}
button,
.dropdown-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}
button:before,
.dropdown-button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
}
button:after,
.dropdown-button:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
}

button:hover,
.dropdown-button:hover {
  box-shadow: 0 2px 0 #36b030;
  top: 3px;
}

/* Estilo para o dropdown quando a caixa de seleção está marcada */
.dropdown-checkbox:checked + .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
@media screen and (max-width: 600px) {
  .sidebar ul {
    display: flex;
  }
  .sidebar {
    width: 100vw;
    max-height: 200px;
  }
  .sidebar-left {
    height: 100px;
  }
}
@media (max-width: 600px) {
  .dropdown-button {
    color: white;
    padding: 4px;
    border: none;
    cursor: pointer;
  }
}
/* width: 48px; e height: 48px;: Define a largura e altura do elemento do loader como 48 pixels, tornando-o quadrado.

border: 5px solid #fff;: Define uma borda sólida de 5 pixels com a cor branca (#fff) ao redor do elemento do loader.

border-bottom-color: #ff3d00;: Define a cor da borda inferior como #ff3d00, criando um efeito visual de gradiente na borda inferior.

border-radius: 50%;: Arredonda as bordas do elemento para criar um círculo, pois o valor de 50% indica que deve ser metade da largura e altura, criando um círculo perfeito.

display: inline-block;: Define o elemento como um bloco em linha, permitindo que ele seja exibido na mesma linha com outros elementos, se houver.

box-sizing: border-box;: Faz com que a largura e altura definidas no CSS incluam a borda e o preenchimento, garantindo que o tamanho total do elemento seja 48px x 48px, incluindo a borda de 5px.

animation: rotation 1s linear infinite;: Aplica uma animação chamada "rotation" com uma duração de 1 segundo (1s), um timing linear (sem aceleração) e execução infinita.

margin-top: 30px; e margin-left: 45vw;: Define a margem superior como 30 pixels e a margem esquerda como 45% da largura da viewport (vw), posicionando o elemento na página. */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 30px;
  margin-left: 45vw;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
